.Evidencia_1{
    background-color: pink;
    border: 5px inherit grey;
    text-align: center;
    font-family: "sans-serif";
}

.subtemas{
    background-color: lavender;
    text-align: 3px initial black;
    font-family: "sans-serif";
}

.contenedor {
    width: 98%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    }


